body {
  text-align: center;
  font-size: 50px;
  font-family: 'Droid Sans', sans-serif;
  background: #3B3B3B;
}

#calculator {
  width 300px;
  background: #145E6E;
  margin: none;
  padding-bottom: 50px;
  border-radius: 10px;
}

@media screen and (min-width: 64em) {
  #calculator {
    position: absolute;    
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -200px; /* half of the width  */
    margin-top: -250px; /* half of the height */
    padding-bottom: none;
  }

  body {
    padding: 100px;
  }
}

button {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #25344C;
  color: #94A2B8;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #94A2B8;
  color: #25344C;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

button:active {
  background: #E8E8B5;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}

#clear {
  width: 95px;
  border-radius: 5px;
}

#answer {
  height: 40px;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 40px;
  color: #E8E8B5;
}
